div.box, div.cell {
    display: inline-block;
}
.SupermanFlying {
    position: absolute;
    top: 80px;
   	left: 80px;
}
.cell input {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
    
}
body {
    text-align: center;
    font-family: Arial;
    background-image: url("../images/SupermanBackground.jpg");
    background-size: cover;
}
h1 {
}
.box {
    outline: 4px solid black;
}
#flash {
    margin: 20px;
}
#sudoku {
    font-size: 0;
    text-align: center;
}
.incorrect {
    background-color: #ffff00;
}
.value-provided {
    background-color: #0000ff;
}
.empty {
    background-color: #25A8FF;;
}

.clear {
    clear: both;
}